[2018-08-02 10:07] jmesnil opened #3 "Use SmallRyeHealthReporter in non-CDI environment"
We have an use case where we want to use smallrye-health to check the healthiness of the application server. However this is handled in the low level of the app server where CDI is not present.

`SmallRyeHealthReporter` is using CDI to iterate other all injected `@Health` `HealthCheck` instance.

I propose that we modify it to be able to _add/remove health checks in addition to the ones injected b

[2018-08-03 12:47] #3 closed

[2018-08-10 09:28] rsvoboda opened #5 "Unable to compile on Java 11-ea+25, TCK module fails with ModuleNotFoundException: java.se"
Unable to compile on Java 11-ea+25, TCK module fails with ModuleNotFoundException: java.se

[code]

This issue is related to https://issues.jboss.org/browse/WFCORE-3962
`--add-modules=java.se` needs to be added when running on Java 11 ea

Seems there is no easy fix on JBoss Modules side, @dmlloyd tried few things but we are still stuck with `--add-modules=java.se` workaround

I tried to look here

[2018-08-14 13:37] kenfinnigan commented on #5
Current MicroProfile is only expected to work on JDK 8, no testing has been done with more recent JDK versions.

Once JDK 11 is out I expect there will need to be some work across all the specs for that

[2018-12-14 19:32] kenfinnigan commented on #5
Resolved

[2018-12-14 19:32] #5 closed

[2019-01-11 13:30] kenfinnigan opened #22 "Set Content-Type of response"
Currently when we return the health check response, we don't set the Content-Type. This makes it difficult for automated clients to know what data they're actually receiving.

We should set the Content-Type on the response

[2019-02-25 15:44] kenfinnigan commented on #22
Actually not an issue here, closing

[2019-02-25 15:44] #22 closed

[2019-04-15 13:36] kenfinnigan opened #28 "Unclear NPE when no name specified on HealthCheckResponseBuilder"

[2019-04-15 18:31] #28 closed

[2019-04-30 10:24] antoinesd opened #30 "Rename outcome to status"
To follow changes done in /eclipse/microprofile-health/issues/125

[2019-05-01 15:12] antoinesd opened #31 "TCK failed after switching to @Deployment(testable=false)"
During MP Health development, we changed all arquillian deployment to `@Deployment(testable = false)` in PR [135](/eclipse/microprofile-health/pull/135).
Now we fail all TCK test with a 404 error.

This should be investigated before MP Health 2.0 release

[2019-05-02 09:04] xstefank commented on #31
As there is essentially no documentation for Arquillian loadable extensions, it took me a while but the problem is that when deployment is not testable services registered with loadable exensions are not fired - https://github.com/arquillian/arquillian-core/blob/master/container/test-impl-base/src/main/java/org/jboss/arquillian/container/test/impl/client/deployment/DeploymentGenerator.java#L152 an

[2019-05-02 09:25] Ladicek commented on #31
I agree, but I also think that this is actually caused by SmallRye Health running the MP Health TCK in a very weird environment that isn't representative of anything that would actually be used in real world.

[2019-05-02 10:21] xstefank commented on #31
it should be an easy change in arquillian to just remove the condition causing this problem but as we need to have TCK passing because of the coming 2.0 release can we take a look at it afterwards?

[2019-05-02 11:08] Ladicek commented on #31
I believe that the logic in Arquillian is intentional. If the deployment isn't "testable", it's not supposed to be modified. That of course assumes that it's deployed to something that can actually run it :-) I went through the POMs and I actually have no idea what Arquillian container we use for running the TCK. It doesn't even mention the Weld embedded container, so... I can only assume that it'

[2019-05-02 15:12] xstefank commented on #31
it's wildfly container. I was able to manually override modules in downloaded wildfly to include latest smallrye health snapshot. I guess I can script it and run it after Wildfly is downloaded but I'm not sure if it's the right way to proceed.

[2019-05-03 07:35] rsvoboda commented on #31
PR was merged 8 months ago, what changed since that time ?

It's wildfly-servlet-dist to be precise. Previous comment could imply that it runs against full WildFly.

Agree it's a bit confusing. Also no arquillian.xml present => depending on ARQ defaults which are usually hard to findout (documentation challenge mentioned above)

[2019-05-04 18:38] xstefank opened #34 "Update to MP Health 2.0-RC1"
Update to microprofile-health:2.0-RC1 covering mainly addition of liveness and readiness

[2019-05-05 17:56] #30 closed

[2019-05-05 17:56] #34 closed

[2019-05-08 21:59] antoinesd commented on #31
PR was reverted to make sure that we'll be able to run the TCK on SmallRye

[2019-05-08 21:59] #31 closed

[2019-05-15 15:16] antoinesd opened #41 "Add experimental wellness Health Check procedures"
We need to introduce the support for `/health/wellness` and `@Wellness` qualifier

[2019-05-15 15:39] antoinesd opened #42 "Upgrade to MP Health 2.0"

[2019-05-15 18:01] xstefank commented on #42
should be resolved by https://github.com/smallrye/smallrye-health/pull/43

[2019-05-15 18:01] #42 closed

[2019-05-24 20:19] cljk opened #46 "Exposing via /health URL?"
According to Microprofile health doc the health checks should be exposed under `/health`.

I deployed my firsth HealthCheck in wildfly 16.Final - it gets recognized on startup and in the CLI I can check it. But the URL http://localhost:8080/health sends a 404.

[code]

Am I missing something or is wildfly just not integrating it correctly?

[2019-05-24 21:13] cljk commented on #46
Okay... got it. My fault.
Wildfly exposes the health-check on the management-Port.
So by defaults it´s http://localhost:9990/health/ .

[code]

[2019-05-24 21:13] #46 closed

[2019-06-27 06:31] lordofthejars opened #50 "Create a HealthStatus helper class"
Checking MicroProfile spec, in CDI section (https://github.com/eclipse/microprofile-health/blob/master/spec/src/main/asciidoc/java-api.adoc#integration-with-cdi) you'll see that they are using a class called HealthStatus. This class is not a spec class but a helper class created for the sake of simplifying the example.

But after using the spec a bit, I have arrived at the conclusion that a simple

[2019-06-27 06:35] xstefank commented on #50
@lordofthejars there is already a similar proposal in the spec - https://github.com/eclipse/microprofile-health/issues/184. Would that cover what you request? Looking at examples in CDI section, keep in mind please that health checks must have names.

[2019-06-27 06:41] lordofthejars commented on #50
Yes it is something similar, but not identical because the `HealthStatus` approach takes care of the boolean decision too so developers skip the phase of:

[code]

[2019-06-27 06:49] xstefank commented on #50
@lordofthejars isn't that covered by this method - https://github.com/eclipse/microprofile-health/blob/master/api/src/main/java/org/eclipse/microprofile/health/HealthCheckResponseBuilder.java#L46 ?

[2019-06-27 07:03] lordofthejars commented on #50
Partially yes, my idea is to provide the method that you can set as parameter a `BooleanSupplier`, so you are not tight only to `boolean` type. Also will provide directly a `HealthCheck` object to be used directly by CDI instead of having to do the `.build` and then create the anonymous class.

So in CDI without this helper class could be:

[code]

Now with helper method:

[code]

[2019-06-27 07:14] xstefank commented on #50
Exactly, I am thinking about how much of this can be pushed up to the spec. Go ahead and create PR, please.

[2019-06-27 07:22] lordofthejars commented on #50
Yes, I think that everything could be pushed into the spec, but let's start with the PR, we can discuss there, maybe even merge and then let's move discussion forward to spec.

[2019-06-28 12:51] #50 closed

[2019-07-16 10:16] lordofthejars opened #53 "Add default implementations of HealthCheck"
I was thinking that we could provide some implementations of `HealthCheck` interface to be used by our users which are typical use cases. I was thinking:

* IP check ( aka `ping`)
* URL check (check if it returns a 200 OK)
* Execute SQL query and validate it returns a result (hard to implement but maybe if we integrate with JPA it might be easy)

So any service can use these to validate that any d

[2019-07-22 18:43] kenfinnigan commented on #53
Not sure TBH. I can see benefits but also drawbacks.

Though it might be nice to include some OOTB health checks, I wouldn't want to impede how their enabled/disabled in runtimes. See https://github.com/quarkusio/quarkus/issues/3107

And I don't think we'd want to start adding dependencies just to create health checks

[2019-07-22 18:49] lordofthejars commented on #53
Well my idea is to create just as anu helper class and the developer is the
responsible of instantiating them as we do in healthstatus class

El lun., 22 jul. 2019 20:43, Ken Finnigan <notifications@github.com>
escribió:

[2019-07-22 19:35] kenfinnigan commented on #53
Would that just be more cumbersome?

If we created health checks that were just methods that returned a `HealthCheckResponse`, implementors would still need to create the Bean that produced the outcome for the runtime.

Given the possible configuration that would be required to make the health checks flexible enough for use in different runtimes, does it provide much benefit?

Maybe if you propose

[2019-07-22 20:08] lordofthejars commented on #53
Ok I'll do this so you can see how it should work.

El lun., 22 jul. 2019 21:35, Ken Finnigan <notifications@github.com>
escribió:

[2019-07-26 12:19] lordofthejars commented on #53
@kenfinnigan The PR is here https://github.com/smallrye/smallrye-health/pull/54 you can see in JavaDoc how to use it. It is just an idea, so we can discuss, discard, change, ...

[2019-08-01 13:22] #53 closed

[2019-11-14 15:21] gabrielJoergArz opened #68 "/health not on management port"
Hi!

Would it be possible to not publish the /health ressources on the management port, but on some different (maybe http/s) port?

Why did you implement it that way anyways?

Background: Like that it isn't well usable on platforms like kubernetes, because you would have to open up your management port completely, and even then it can be difficult for kubernetes to connect to it, if it doesn't do

[2019-11-14 15:28] kenfinnigan commented on #68
I don't believe there's anything in SmallRye Health that ties where the endpoint is available.

It's up to the runtime that uses SmallRye Health to define where it's accessible.

[2019-11-14 15:29] Ladicek commented on #68
Considering you mention the management port, I guess you use SmallRye Health via WildFly? (Quarkus doesn't have a management port, and Thorntail exposes health on the main port.) If so, I think this issue belongs to the WildFly issue tracker.

[2019-11-14 15:30] gabrielJoergArz commented on #68
Okay I'm sorry, yes we are using wildfly (18).

So you think there might be an option to configure it?

[2019-11-14 15:32] kenfinnigan commented on #68
Possibly, you'd need to check with them

[2019-11-14 15:32] #68 closed

[2019-11-14 15:33] gabrielJoergArz commented on #68
K thanks for clearing that up!

[2020-01-16 21:53] kenfinnigan opened #73 "Update to MP Health 2.2"

[2020-02-27 16:46] filippobuletto opened #84 "Cannot set emptyChecksOutcome in thorntail"
I’m trying to set the property `io.smallrye.health.emptyChecksOutcome` Using latest thorntail build, I’ve tried to set the DOWN value using the properties file and also using the environment variable but still when the “internal wildfly” have booted but the war is still deploying the health endpoint returns an UP status (which triggers traffic being sent to the service with obvious erratic traffic

[2020-03-01 08:35] xstefank commented on #84
I believe this is the wrong behavior of Thorntail which can return a hardcoded health check response - https://github.com/thorntail/thorntail/blob/master/fractions/microprofile/microprofile-health/src/main/java/org/wildfly/swarm/microprofile/health/runtime/HttpContexts.java#L124. I raised https://issues.redhat.com/browse/THORN-2535 to track it. This issue can be closed if you agree @filippobuletto

[2020-03-01 10:34] filippobuletto commented on #84
It’s ok for me, thanks!

[2020-03-01 10:35] #84 closed

[2020-03-03 07:40] xstefank opened #85 "Add a separate property for empty readiness checks"
Currently, we allow setting a `io.smallrye.health.emptyChecksOutcome` config property. However, this can (and probably needs to be) different for liveness and for readiness checks as it represents a default when no user checks are provided or the container is starting (the user checks are not loaded yet).

[2020-04-28 12:18] rquinio opened #90 "Log health check DOWN reasons"
Today when a readiness/liveness is failing, the reason for the failure doesn't appear anywhere for developers to see it.  You have to exec in the pod and curl the /health endpoint manually (if having permissions to do so and fast enough during a CrashLoopBackOff...) which is a pain.

- Kubernetes/OpenShift only care about the HTTP status of an HTTP probe. The HTTP response body is not stored, when

[2020-04-29 09:55] loicmathieu opened #91 "Performance cost of Json"
Currently, SmallRyeHealthReporter use the `javax.json.Json` helper class to create the various Json builder/factory that it needs (JsonArrayBuilder, JsonObjectBuilder, JsonWriterFactory).

This class calls `JsonProvider.provider()` without caching it (the JavaDoc of JsonProvider say that it's safe to cache it) each time it creates a new Json builder/factory.
As `JsonProvider.provider()` uses a Ser

[2020-04-29 10:06] geoand commented on #91
:+1: for what @loicmathieu says

[2020-04-29 10:13] gsmet commented on #91
@loicmathieu I would say you can prepare a PR for it.

It would be nice to have that in Quarkus 1.5.

[2020-04-29 10:15] geoand commented on #91
Yeah, it would be great to have a smallrye health release out that we can pick up for Quarkus 1.5

[2020-04-29 10:16] loicmathieu commented on #91
@gsmet OK, I'll send a PR today or tomorrow

[2020-04-29 12:44] jmartisk commented on #91
@antoinesd if you don't mind I'll take care of releasing 2.2.1 with this fix and upgrading Quarkus. Do you have something else that you want to include in 2.2.1?

[2020-04-29 13:46] rquinio commented on #90
Btw the only ticket I managed to find on Kubernetes side about HTTP probe response body is https://github.com/kubernetes/kubernetes/issues/35438 and it didn't seem to have much traction.

[2020-04-29 14:05] gsmet commented on #91
If we just have that one fix in 2.2.1, I could be convinced to backport it to 1.4.2.

[2020-04-29 14:40] antoinesd commented on #91
@jmartisk I can do the release. I don't think we have other feature for a 2.2.1

[2020-04-29 14:55] #91 closed

[2020-04-30 19:16] kenfinnigan opened #93 "Support async execution"
Currently it's very messy to get a health check to execute in an asynchronous manner. See https://stackoverflow.com/questions/61530354/quarkus-healthcheck

It would be better to have built-in support for asynchronous execution

[2020-04-30 19:18] kenfinnigan commented on #93
Possibly consider the use of `@Blocking` as an indicator on the method for implementations to know how to handle it.

[2020-05-01 18:54] kenfinnigan opened #95 "Implement i18n logging and messages"
Follow the procedures defined in https://github.com/smallrye/smallrye-parent/wiki/I18N-Messages-and-Logging as part of implementing https://github.com/smallrye/smallrye-parent/issues/102 for all SmallRye projects

An example usage can be found in https://github.com/smallrye/smallrye-common

[2020-05-03 09:15] ejba commented on #95
Hi, can I pick this one? :)

[2020-05-03 15:07] kenfinnigan commented on #95
Sure, thanks for taking it on!

[2020-05-03 17:02] #90 closed

[2020-05-15 06:00] ejba commented on #95
Hi @kenfinnigan,
I don't know if it's relevant but I forgot to link the PR ( #96 ) with this issue.

[2020-05-22 10:13] Ladicek commented on #41
I think similarly to `@Liveness` having `/health/live` and `@Readiness` having `/health/ready`, `@Wellness` should have `/health/well`.

[2020-05-22 10:41] xstefank commented on #41
@Ladicek it might be, but `well` as a word is quite overloaded :) I personally don't have preference.

[2020-05-25 11:29] xstefank commented on #41
@antoinesd do we want to introduce this as experimental or wait for the spec (there are no comments in GG).

[2020-05-25 11:40] xstefank commented on #95
I believe this is resolved. Feel free to reopen if needed.

[2020-05-25 11:40] #95 closed

[2020-05-25 12:27] antoinesd commented on #41
I think we can wait to have it in the spec. Wdyt?

[2020-05-26 16:45] xstefank opened #99 "Add health registry support"
API tracked in spec issue - https://github.com/eclipse/microprofile-health/issues/247

[2020-05-26 19:40] kenfinnigan commented on #99
Is exposing a registry the preferred option?

Would it expose the ability for user applications to retrieve health checks?

Would a builder API be more appropriate?

[2020-05-26 19:46] xstefank commented on #99
I have the code almost ready for injection similar to metric registry in metrics.

Users will not see all checks through the registry. Not required by the spec. However, in SR users can inject SRHealthRegistry to get all checks.

The idea is to add/remove checks dynamically so I don't see how builder would be appropriate. Can you give an example?

[2020-05-26 19:48] kenfinnigan commented on #99
What's the use case for being able to remove checks?

I think that's what I'm not grokking

[2020-05-26 19:49] kenfinnigan commented on #41
We need to be validating ideas in the implementation before we bring them to the spec

[2020-05-26 19:56] xstefank commented on #99
Well, judging by the upstream issue, you can for instance exchange client protocol dynamically. Or something like I am dependent on service A when deployed but this is no longer true after A finishes its processing so it's unnecessary to continue checking its availability, even maybe dangerous if the service A is killed after its finished?

[2020-05-26 19:57] xstefank commented on #41
@kenfinnigan do you mean that we shouldn't now add any new API in the spec if it hasn't been already for some time in SR?

[2020-05-26 19:59] kenfinnigan commented on #41
That has been the understanding for a while and made as clear as I and others can over the last 4-5 months.

[2020-05-26 20:02] kenfinnigan commented on #99
TBH I don't understand the use case that is being described.

I think it needs to be a lot clearer as to the use case to determine an appropriate solution.

For instance, maybe the right approach is a separate API to "de-register" through CDI Events, or the like, without exposing the health checks as a registry

[2020-05-26 20:03] xstefank commented on #41
yeah, I know but given the timeline, we won't introduce any new features in Health 3.0 if we take this into account, unfortunately. While we still need a breaking release this seems a little harsh trade-off for users.

[2020-05-26 20:05] kenfinnigan commented on #41
Maybe, but that's the approach we're taking.

If we haven't proven that a new API is usable, appropriate, and defined properly, it's premature to add it to a spec

[2020-05-27 06:19] cescoffier opened #100 "Add support for asynchronous checks"
The current approach only supports synchronous checks which discard the usage of reactive components such as reactive database client. While the user could block, it's a reactive antipattern. Typically, it leads to such kind of [discussion](https://stackoverflow.com/questions/61530354/quarkus-healthcheck).

I would like to discuss the possibility to introduce asynchronous checks defined as follows

[2020-05-27 06:19] cescoffier commented on #100
CC @kenfinnigan

[2020-05-27 06:21] xstefank commented on #100
@cescoffier not a duplicate of https://github.com/smallrye/smallrye-health/issues/93? BTW, this is definitely something I would like to include.

[2020-05-27 06:24] cescoffier commented on #100
@xstefank Thanks! Yes it does. My description gives a bit more details. I will edit it to include Ken's comments.

[2020-05-27 17:21] kenfinnigan commented on #100
Adding my comment from the other issue:

Currently it's very messy to get a health check to execute in an asynchronous manner. See https://stackoverflow.com/questions/61530354/quarkus-healthcheck

It would be better to have built-in support for asynchronous execution.

Possibly consider the use of `@Blocking` as an indicator on the method for implementations to know how to handle it.

[2020-05-27 17:21] kenfinnigan commented on #93
Closing in favor of #100

[2020-05-27 17:21] #93 closed

[2020-05-29 13:50] xstefank opened #101 "Refactor experimental modules according to the SmallRye definitions"
https://github.com/smallrye/smallrye-parent/wiki/Innovation-beyond-Eclipse-MicroProfile

[2020-06-03 09:55] #101 closed

[2020-06-08 15:55] kenfinnigan commented on #99
The main use case appears to be multi-tenet usage, which I think opens a whole other set of issues with MP generally if it's "multi tenet"

[2020-06-08 16:28] xstefank commented on #99
@kenfinnigan however, the spec discussion isn't concluded in this sense. How should we proceed with this as an experimental API?

[2020-06-08 16:51] kenfinnigan commented on #99
I'm not sure there's a critical use case to be addressed at present, so I would be inclined to not do anything for it

[2020-06-08 17:20] xstefank commented on #99
but that doesn't solve the issue which is proposed in the specification. I would like to keep this open until the spec issue is resolved in one way or the other.

[2020-06-19 06:31] #41 closed

[2020-06-19 07:27] #100 closed

[2020-06-26 07:24] xstefank opened #119 "Add async wellness support"
Somehow forgotten when adding wellness :)

[2020-06-26 09:31] #119 closed

[2020-06-30 07:37] #99 closed

[2020-07-07 08:45] xstefank opened #122 "Integrate smallrye-testing"
integrate https://github.com/smallrye/smallrye-testing and possibly replace our current Log verifications.

[2020-07-07 10:36] xstefank opened #123 "Javadoc generation fails"
[code]

[2020-07-07 11:08] #123 closed

[2020-07-07 12:26] xstefank opened #127 "Make javadoc running during GH actions builds"
It runs during release so we should catch the errors before we try to release :)

[2020-07-07 12:47] brunobat opened #128 "Activate or deactivate checks with configuration"
We are creating an internal lib with custom liveness and readiness checks.
It would be very handy if we could activate or deactivate individual checks as needed on particular microservices, where we will use that lib.
Can you please add a property like:
`com.mypackage.healthcheck.RabbitMqReadyCheck.enabled=false`
They should be enabled by default.
Can you please add this behaviour?

[2020-07-07 18:45] #127 closed

[2020-07-08 13:43] xstefank opened #132 "Fix sonar quality gate"
https://sonarcloud.io/dashboard?id=smallrye_smallrye-health

[2020-07-15 10:50] xstefank opened #138 "Integrate microprofile-extensions/health-ext"
Integrate https://github.com/microprofile-extensions/health-ext as

- new predefined checks from System Health probe and JVM Health probe modules
- a new module for health-ui

[2020-07-15 12:42] xstefank commented on #128
I think this is an interesting idea.

[2020-07-17 06:45] xstefank opened #142 "Move provided checks into a separate module"
Move all provided checks from the implementation module to a separate module as per #139.﻿

[2020-07-17 09:48] #138 closed

[2020-07-17 15:34] #142 closed

[2020-07-22 14:31] #132 closed

[2020-07-27 09:19] xstefank opened #150 "Implement usage of "mp.health.default.readiness.empty.response" property"

[2020-07-27 13:58] #150 closed

[2020-07-30 12:06] xstefank commented on #85
rosolved in the specification.

[2020-07-30 12:06] #85 closed

[2020-08-07 06:36] xstefank opened #160 "Optional wiring of checks array as an object keyed by the health check name"
**Design proposal**

Optional wiring of checks array as an object keyed by the health check name

**Description**

Inspired by https://github.com/eclipse/microprofile-health/issues/110 we can add different formatting of the `/health/*` outputs according to the description in the spec issue which could be enabled/disabled by an MP Config property `io.smallrye.health.response.checks-as-object=true`

[2020-08-07 17:07] antoinesd commented on #160
Ok with the idea

[2020-08-07 22:45] viniciusfcf opened #161 "Should return http status 500 if health check get failed"
According to the specification, if a health Check Request processing failed (i.e. error in procedure), the http status must be 500, and not 503.

Test using Quarkus

[code]

[2020-09-14 15:39] kenfinnigan opened #165 "Kubernetes Startup Probe"
Similar to Readiness and Liveness, Kubernetes is introducing a "Startup Probe" to assist in situations where the startup of an application can be a longer period than "liveness". During startup, it disables readiness and liveness probes to prevent premature killing of a container.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

Would be worth

[2020-09-29 07:21] slaskawi opened #172 "Static access to SmallRyeHealthReporter or HealthRegistry"
## Feature Request

Currently, it is pretty hard to wire new `HealthCheck` implementation into the `SmallRyeHealthReporter` in a non-CDI environment. Moreover, assembling `SmallRyeHealthReporter` by hand (without CDI) seems to be non-trivial. I would like to request more support for accessing those classes from the static context.

## More context

When working on Observability and Healthcheck API

[2020-09-29 12:56] kenfinnigan commented on #172
@antoinesd @xstefank @jmartisk @radcortez anyone free to take a look at this?

[2020-09-29 13:14] antoinesd commented on #172
I'm already looking at it @kenfinnigan

[2020-09-29 13:39] xstefank commented on #172
thanks @antoinesd

[2020-10-01 06:35] slaskawi commented on #172
Thank you!

[2020-10-05 08:27] xstefank opened #176 "Add project documentation"
To be included in https://smallrye.io/docs/index/index/index.html.
Basing this on https://github.com/smallrye/smallrye-metrics/tree/master/doc and similar.

[2020-10-26 09:29] cescoffier commented on #165
It's not only this, they changed the readiness semantic. Readiness can now be called while receiving traffic, which means it must be implemented in a non-expensive/non-disruptive way. Typically, while before you could do expensive I/O in the readiness probe, it should not be the case anymore.

We used readiness as a startup probe.

[2020-10-26 09:30] cescoffier commented on #165
Note: having support for startup and this new readiness is important for reactive messaging, as now, we can imagine stopping the polling of messages because we have too many inflight messages.

[2020-10-26 10:08] Ladicek commented on #165
Care to elaborate? To the best of my understanding, it was always the case that readiness probes were called during the entire life of application.

[2020-10-26 10:25] cescoffier commented on #165
So my bad. Pretty sure that's something I checked and it was not called after being ready.
Anyway, many of our implementations do expensive operations during the readiness check, which should not be done. Typically, the kafka connector checks the existence of topics - which lead to interacting with the broker. I should only be done a startup time.

[2020-10-26 13:34] xstefank commented on #165
So this would be another type of the predefined group of checks. I think this has its place now in the spec as we are directly mentioning Kubernetes probes. I will introduce this in SR so it can be tested for a release or two in quarkus and we can push it in the next spec version sometime next year.

[2020-10-26 13:48] cescoffier commented on #165
+1

[2020-11-03 15:25] #165 closed

[2020-11-03 15:54] #176 closed

[2020-11-05 12:46] garyhodgson opened #193 "Only one additionalCheck per Type allowed in SmallRyeHealthReporter?"
Hi - I can't work out the logic behind the addHealthCheck Method of SmallRyeHealthReporter. It seems that only one instance of a healthcheck type is allowed?

https://github.com/smallrye/smallrye-health/blob/18a863d93c6e7df6874d974c209bdd284a9bd263/implementation/src/main/java/io/smallrye/health/SmallRyeHealthReporter.java#L420

e.g. when I call it with:

[code]
then only the last check appears.

[2020-11-08 19:36] garyhodgson opened #194 "Duplicate checks when added via an injected registry in Quarkus"
Hi, When I attempt to add a Health Check via an injected registry (in Quarkus) the checks are duplicated (Quarkus 1.9.1, SmallRye Health 2.3.3) e.g. the following startup class:

[code]

I note that the problem doesn't happen in the unit tests, and so far I have been unable to identify where the duplication occurs.  The following workaround "resolves" the problem:

[code]

[2020-11-09 08:40] jmartisk commented on #194
Hi! Just by the way, I discussed it with @xstefank and Quarkus should probably have a configuration-based way to activate these provided checks. I reported https://github.com/quarkusio/quarkus/issues/13178 and plan to look into it. (That's not really a fix to this issue though, just note that in the future, you won't have to add these checks programmatically)

[2020-11-09 09:39] xstefank commented on #193
Hi, this is a more or less deprecated API that we mostly use in testing that was replaced with the experimental registry feature. With that you can do:

[code]

[2020-11-09 10:02] xstefank commented on #194
This happens only with the startup bean. Moving the code into CDI method works as expected.

[2020-11-09 10:49] garyhodgson commented on #194
Hi, thanks for looking into this.

FYI, It also appears to happen when added whilst configuring a camel route, e.g.

[code]

[code]

[2020-11-10 09:04] jmartisk opened #195 "NonHeapMemoryHealthCheck produces a check named "heap-memory""
For example:
[code]

The name should be `non-heap-memory` to be able to distinguish this check from `HeapMemoryHealthCheck`

[2020-11-12 11:12] xstefank opened #198 "Rename Startup annotation to Startness"
It seems that the winner in the discussion in https://github.com/smallrye/smallrye-health/pull/192#discussion_r516755577 is `@Startness`.

[2020-11-12 12:20] #194 closed

[2020-11-18 08:11] #198 closed

[2020-11-20 06:04] dfa1 opened #207 "ResponseBuilder keeping insertion order of keys"
In our applications we have a status page "for humans", with several sections like the following one:

	caffeine.laosUserAuth.hitRate: "96.27%"
	caffeine.laosUserAuth.requestCount: "134"
	caffeine.laosUserAuth.loadCount: "5"
	caffeine.laosUserAuth.missRate: "3.73%"

However, keys are always in a different order across instances and deployments, that is less than ideal in my opinion.

I believe the

[2020-11-20 14:25] #195 closed

[2020-12-14 13:17] dfa1 commented on #207
I'm going to close :)

[2020-12-14 13:17] #207 closed

[2021-02-18 13:22] xstefank opened #239 "Possible NPE if the HealthCheck producer returns null"
Originally reported in https://github.com/quarkusio/quarkus/issues/15149.

With the following producer:

[code]

we will get the following NPE if the `enabled == false`:

[code]

[2021-02-19 14:08] #239 closed

[2021-02-27 17:39] garyhodgson commented on #193
Hi - my apologies! I totally forgot to close the issue!  The register feature appears to work fine and do as I need, thanks!

[2021-02-27 17:39] #193 closed

[2021-03-01 10:09] xstefank commented on #193
No worries. Thank you for trying it out.

[2021-03-15 15:59] xstefank opened #248 "Rename branch "master" to "main""

[2021-04-30 13:45] xstefank opened #261 "Add property for context propagation to the health checks"
Because we use Mutiny Unis to invoke health checks, the context (CDI for instance) is not propagated on each subscription to the Uni but only at the time the Uni is created. So in this sense, it is impossible to use for instance RequestScoped beans. The solution would be to add an option to recreate health checks unis on every health call. We will make this switchable with config property.

[2021-05-03 12:16] #261 closed

[2021-05-13 12:27] xstefank opened #270 "Add code coverage for sonar reporting"
Add a jacoco plugin configuration so we will get code coverage reports in sonar.

[2021-06-01 08:44] #270 closed

[2021-06-02 06:55] xstefank opened #282 "Add health registries for wellness and startup"
We have an experimental programmatic API for liveness and readiness. We should cover all possible kinds of health checks.

[2021-06-03 05:46] #282 closed

[2021-06-24 14:00] xstefank opened #295 "Fix documentation to automatically update versions on release"
Antora versions and spec versions should be updated automatically when the release is performed.

[2021-09-09 14:35] xstefank opened #311 "Add actions run for JDK 17"

[2021-09-10 11:40] xstefank opened #312 "Unable to run SocketHealthCheckTest.testSocketHealthCheckNoneServiceOnPort on JDK 17"
[ERROR] Failures:
[ERROR]   SocketHealthCheckTest.testSocketHealthCheckNoneServiceOnPort:32 expected:<[c]onnect timed out> but was:<[C]onnect timed out>

[2021-09-13 08:36] #312 closed

[2021-09-16 09:34] xstefank commented on #311
Fixed in #317

[2021-09-16 09:34] #311 closed

[2021-09-30 08:32] xstefank opened #319 "Add integration testing to the pre-release gh action"

[2021-10-05 14:48] #319 closed

[2021-10-10 16:38] dvddhln opened #324 "Health UI logo interferes with smallrye-openapi custom logo asset"
Hi,
Not sure where to put this but currently if the the smallrye-openapi extension is used with a custom branded resource with name logo.png, that interferes with logo.png in smallrye-health making the health UI render the wrong logo.

KR

David

[2021-10-11 07:27] hemangajmera opened #325 "The doc link is going to page not found"
The document link in README file is not valid and needs to be fixed.

https://github.com/smallrye/smallrye-health#readme

[2021-10-13 11:56] #324 closed, assigned to nobody

[2021-12-13 01:20] StanislavMakhrov opened #343 "Add extra fields on the same level with status field"
Hi!

Is it possible to add to healthcheck custom fields on the same level with status field?

I want something like:
[code]

So, I have added extra fields appVersion, branch and owner. I need this in healthcheck. How can I add this in code? Or does it requires changes in smallrye-health?

[2021-12-13 08:55] xstefank commented on #343
Hi @StanislavMakhrov. This is not currently possible to be done directly in the HealthChecks. However, there is an easy possibility to extend this yourself (workaround basically) - https://github.com/xstefank/learning-tests/blob/master/sr-health-custom-top-level-fields/src/main/java/io/xstefank/CustomHC.java.

If we would implement this in SR, would you like these values to be dynamic or can they

[2021-12-13 11:45] SMakhrov commented on #343
Nice example! Thanks! I think it should be in healthcheck out of the box.
I get these values from build.properties file using class with @ConfigMapping annotation.

Regarding nice example above. I can't do this in reactive way because such code causes error:
[code]

Error:
Internal Server Error
Error id 4290e94c-ec27-43a8-ae34-5ecfe7461f22-1, java.lang.IllegalStateException: The current thread can

[2021-12-13 12:23] xstefank commented on #343
We have also async support in SR health so to do the workaround the reactive way you can try this - https://github.com/xstefank/learning-tests/blob/master/sr-health-custom-top-level-fields-reactive/src/main/java/io/xstefank/CustomHC.java.

I see no problem in adding this then as a feature that will read the values that should be added at the top level from the config directly. Thanks.

[2021-12-13 13:27] SMakhrov commented on #343
@xstefank thanks again! It works perfect!
One question: how can I disable standard healthcheck /q/health
Because now I have two healthchecks - by url /q/health and my custom url.

This doesn't work for me:
[code]

[2021-12-13 13:55] xstefank commented on #343
@SMakhrov this property will only disable any health checks that are exposed in different Quarkus extensions. There is no way to disable the /q/health endpoint. You can only use path configs to move it somewhere else - https://quarkus.io/guides/smallrye-health#quarkus-smallrye-health_configuration. But I will work on this feature in SR so there should not be a need for this hopefully soon.

[2021-12-13 18:06] SMakhrov commented on #343
Thank you so much!

@xstefank if I want to add some check (for example DB connection), how can I do this?
I've used this example https://github.com/xstefank/learning-tests/blob/master/sr-health-custom-top-level-fields-reactive/src/main/java/io/xstefank/CustomHC.java and tried to do something like:

[code]
I've added this string according example above:
[code]
But I don't see Database in output JSO

[2021-12-14 09:28] xstefank commented on #343
@StanislavMakhrov for that you need to define the HealthCheck (or AsyncHealthCheck) normally as you used to - https://github.com/xstefank/learning-tests/blob/master/sr-health-custom-top-level-fields-reactive/src/main/java/io/xstefank/NormalHC.java. ``smallRyeHealthReporter.getHealthAsync()` is what is called when you access normal health endpoint (/q/health) and will process all HealthChecks beans

[2021-12-16 20:34] tomwetjens opened #344 "ClassNotFoundException: javax.json.JsonValue when upgrading to Quarkus 2.5.3"
After upgrading to Quarkus 2.5.3, javax.json is no longer on the class path since it is replaced with jakarta.json.

Running the application now fails with:
[code]

[2021-12-17 11:56] xstefank commented on #344
Hi @tomwetjens, I've just tried Quarkus 2.5.3 with smallrye-health extension and it works correctly. Do you have a small reproducer to see what I'm missing?

I'm pretty sure that Quarkus still didn't switch to jakarta.* namespace and it wouldn't do it in minor release for sure since this is a breaking change.

[2021-12-17 14:45] tomwetjens commented on #344
As I was trying to create a reproducer from the quickstart, I found out that somehow through parent POMs, the version of org.glassfish:jakarta.json was managed to 2.0.1, whereas quarkus comes with 1.1.6. The former has the jakarta.json classes and the latter still has the javax.json classes.

Removing this version override did the trick to make it work!

[2021-12-17 14:45] #344 closed

[2021-12-30 16:42] xstefank opened #349 "Upgrade to MP Health 4.0 and align with jakarta.* namespace"

[2021-12-30 16:45] xstefank commented on #349
Fixed in `jakarta` branch - https://github.com/smallrye/smallrye-health/commit/772e95910c7b9c7f45154d7045269d0616dd37ae.

[2021-12-30 16:45] #349 closed

[2022-01-05 09:06] xstefank opened #351 "Upgrade to JUnit 5"

[2022-01-05 11:00] #351 closed

[2022-01-05 13:35] jamesnetherton commented on #172
Any progress on this?

[2022-01-05 13:39] xstefank commented on #172
actually today I started working on the 3.2.0 release so hopefully should be coming up soon. Sorry for the delays.

[2022-01-06 08:46] #122 closed

[2022-01-06 11:52] xstefank commented on #172
@jamesnetherton @slaskawi the PR is up, can you check please? The reporter will be usable like this - https://github.com/xstefank/learning-tests/blob/master/sr-health-plain/src/main/java/io/xstefank/App.java

[2022-01-06 13:14] jamesnetherton commented on #172
LGMT :+1:

[2022-01-06 15:42] #172 closed

[2022-01-10 14:58] #343 closed

[2022-01-10 14:58] xstefank commented on #325
Fixed in #327

[2022-01-10 14:58] #325 closed

[2022-01-12 05:23] #128 closed

[2022-01-14 09:14] xstefank opened #368 "Users should be able to override configurable properties when using SR Health in non-CDI environments"

[2022-01-17 14:15] #368 closed

[2022-01-18 15:00] xstefank commented on #295
We will be moving to mkdocs so closing this.

[2022-01-18 15:00] #295 closed

[2022-03-28 13:32] AndreasScharfCPB opened #397 "Dynamically register HealthGroups"
Hi there,

we would be interested in registering healthGroups. As stated here I am opening an issue : https://smallrye.io/docs/smallrye-health/3.0.1/health-registry.html

We have a distributed system and we would like to use smallrye-health in one service to register / forward other smallrye healthchecks of other services, some of which are written in other languages etc.
So that we can have one g

[2022-03-28 14:21] xstefank commented on #397
hmm, very interesting. But how would you generify what code should be executed in the health check? Would we define some preconfigured HealthCheck implementations that would be just configurable in the message?

[2022-05-18 16:17] gwenneg opened #403 "ArrayIndexOutOfBoundsException at Quarkus application startup"
[One of our apps](https://github.com/RedHatInsights/notifications-backend/tree/master/backend) depends on Quarkus 2.8.3.Final which itself depends on smallrye-health 3.2.1.

On rare occasions, smallrye-health will throw the following exception at application startup:

[code]

This may be caused by a concurrent access to the same list from multiple threads and that list may not be thread-safe. I di

[2022-05-26 08:40] xstefank commented on #403
Thanks @gwenneg. By any chance, would be able to reproduce this on purpose? I can make the collections thread-safe but it would be good to know that it will fix the problem.

[2022-06-08 10:55] xstefank commented on #397
@AndreasScharfCPB can you please clarify my questions? We can implement this if we have a clear idea of what API is imagined.

[2022-06-08 11:32] Schoaf commented on #397
Hi, sorry for the late response.

Well I am doing a custom implementation that registers the health checks of the other services as health checks in the main service. And while I am registering a new health check I would like to put it into a group.
My case is a bit special, but I guess it would be nice to be able to add a healthcheck to a group when registering it dynamically in your code.

[2022-06-13 09:18] Schoaf commented on #397
Correct. I just want to register it dynamically.
I can already register health checks however it is not possible to assign them to Groups.

[2022-06-22 09:37] lorenzobenvenuti commented on #397
Hi, I came across this issue while trying to dynamically register health checks with a given group. I think the approach described above won't work if there isn't at least one bean annotated with @HealthGroup(`my-health-group`).
Looking at the code I understand that `SmallRyeHealthProcessor` will first scan the beans looking for classes annotated with `@HealthGroup`/`@HealthGroups` (see [here](htt

[2022-06-22 10:41] Schoaf commented on #397
@xstefank exactly. Is that new or did I just not see it? I have to give it a try.
@lorenzobenvenuti thanks for the clarification!

[2022-06-22 17:06] xstefank commented on #397
hi @lorenzobenvenuti that is correct and I noticed that also just while testing this issue. So if you would appreciate this functionality can you please file a new issue for it?

@Schoaf not new but it seems we forgot to add it the registries documentation. I will fix that! Glad that it's working.

[2022-06-23 11:22] Schoaf commented on #397
I guess that is exactly the problem here:
I would not only like to dynamically add checks to "a" group but dynamically create new groups which is not possible if I have to use an annotation. So I would like to see an method where I can register a new healthGroup.

[2022-06-27 10:56] xstefank commented on #397
ok, I will implement the groups to be created on registration too.

[2022-06-28 08:49] Schoaf commented on #397
awesome! thanks! :)

[2022-06-29 08:27] #403 closed

[2022-06-29 09:06] gwenneg commented on #403
Sorry @xstefank, I've been really busy lately and I forgot to answer your last comment.

I see that you merged a fix. Thank you very much!

[2022-06-30 09:43] xxtesaxx opened #412 "Write endpoint access to access log"
I noticed that whenever one of the smallrye endpoints is called, it's not written to Quarkus access log and I was wondering if I'm missing something. Is it somehow possible to see those calls in the access log?

[2022-06-30 10:29] xstefank commented on #412
Hi @xxtesaxx, we only log failed health checks, but we can add logging for all if requested.

[2022-07-13 16:39] xstefank commented on #412
@xxtesaxx sorry, but what you mean by access log? Is it something specific to Quarkus? Isn't logging configured separately?

[2022-07-13 18:03] xxtesaxx commented on #412
As far as I'm concerned, access logs are nothing Quarkus specific (https://www.techtarget.com/searchsecurity/definition/access-log). In our company we also have Apache and Tomcat servers running, which also write access logs. Basically every http request which comes in gets logged. You can define patterns on what to log, like the source IP address, the response size and time and even custom header

[2022-07-14 07:02] xstefank commented on #412
@xxtesaxx thanks for explaining the access log to me. So I tried it with the current Quarkus version 2.10.2 and I believe it works:

1. Generated plain app and added smallrye-health extension.
2. Added `quarkus.http.access-log.enabled=true` to config.
3. Run the app:

[code]

Are you expecting something different?

[2022-07-14 20:55] xxtesaxx commented on #412
Huh, okay thats interesting. I'll^^
u

[2022-07-14 21:29] xxtesaxx commented on #412
You are right. Out of the box it's indeed working. I did some testing and it seems that the issue only arises when you use an alternative root path. Heres a sample config you can use in your plain app, which should help reproduce the issue:

[code]

Then you can simply `curl http://localhost:8080/test/q/ready` and it should show you the response without showing up in the access logs:

<img width="

[2022-07-15 05:58] xstefank commented on #412
ok, thanks. I see now. We will fix this in Quarkus.

[2022-07-15 06:23] xxtesaxx commented on #412
Thats awesome, thank you very much. :)

[2022-07-27 08:40] HerrDerb opened #414 "Registry for HealthGroups"
We have a library containing a common HealthCheck.
We do use this library now for an application and would love to have this provided health check in an application specific group.

We now did a dirty workaround and added the desired health group in the library. This kind of mixes contexts.

Refering to the Note : https://smallrye.io/docs/smallrye-health/3.0.1/health-registry.html, it would be nic

[2022-07-27 11:16] xstefank commented on #414
Hi @HerrDerb, actually sorry, the docs are long on my TODO list to update.

This is already possible to do like this:

[code]

Also please note that custom health group needs to be defined in Quarkus prior the deployment for now - https://github.com/smallrye/smallrye-health/issues/397. I will fix this in next SR Health upgrade in quarkus.

[2022-07-28 08:13] HerrDerb commented on #414
Oh cool, I'll try that then. 👍

[2022-07-28 08:13] #414 closed

[2022-07-28 08:13] HerrDerb commented on #414
Already available

[2022-09-05 13:33] xstefank commented on #412
Closing as it should be fixed now in Quarkus. Reopen please if that's not the case.

[2022-09-05 13:33] #412 closed

[2022-09-06 13:47] xstefank opened #423 "HealthRegistriesInjectionTest fails with jakarta changes and TestNG 7.6.0+"
[code]

Works normally if I just change the `<version.testng>7.5</version.testng>` or lower.

[2022-09-07 08:49] xstefank opened #425 "Default HealthGroup when not defined"
Originally proposed in https://github.com/quarkusio/quarkus/issues/26877.

[2022-10-10 07:23] xxtesaxx commented on #412
Hi there, I wanted to give you some feedback on this, since we now have the time to upgrade our dependencies. It looks like the requests are now properly logged. However, there is an unwanted side effect. Maybe its a configuration issue. With the above mentioned config, when making calls to normal endpoints (not smallrye endpoints), the request is logged twice now:
![Bildschirmfoto 2022-10-10 um 0

[2022-10-10 09:01] xstefank commented on #412
thanks, yes, that is a bug, I will work on it.

[2022-10-10 09:48] xxtesaxx commented on #412
Thank you, looking forward to the fix. :)

[2022-10-24 05:19] xstefank commented on #412
Hi @xxtesaxx, the fix is merged in Quarkus so please let me know if you still see the issue in your app after the next release. Thanks for the report again!

[2022-11-03 06:07] HerrDerb commented on #425
Any progress on this on? 🙂

[2022-11-04 12:04] xstefank commented on #425
sorry @HerrDerb I will do the release next week. Baffled with other stuff :(.

[2022-11-07 07:05] HerrDerb commented on #425
@xstefank 👍 no hurry, I just wasn't sure if the issue has gone out of sight :)

[2022-11-22 12:55] #425 closed